@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
body {
  background: #456;
  font-family: "Open Sans", sans-serif;
}

/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

.login {
  width: 400px;
  margin: 25px auto;
  font-size: 16px;
}

.header,
.login p {
  margin-top: 0;
  margin-bottom: 0;
}

.header {
  // background: rgb(12, 77, 129);
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.container {
  background: #ebebeb;
  padding: 12px;
}

.login p {
  padding: 12px;
}

.login input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
  margin-bottom: 21px;
}

.login input[type="email"],
.login input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #888;
}

.login input[type="submit"] {
  background: rgb(1, 29, 51);
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.login input[type="submit"]:hover {
  background: #17c;
}

.login input[type="submit"]:focus {
  border-color: #05a;
}
.has-error input[type="email"],
.has-error input[type="password"] {
    border-color: rgb(216, 12, 12) !important;
    color: rgb(230, 14, 14) !important;
}
.help-block{
  position: relative;
    top: -17px;
    color: red;
}
//

.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 70%;
  margin: 76px 230px;
  background: #ffba32;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(235, 228, 228, 0.2);
}
img {
  margin-left: -83px;
}
.card-container {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  transition: 0.3s;
  width: 40%;
  height: 403px;
}

// body{
// 	margin:0;
// 	color:#6a6f8c;
// 	background:#c8c8c8;
// 	font:600 16px/18px 'Open Sans',sans-serif;
// }
// *,:after,:before{box-sizing:border-box}
// .clearfix:after,.clearfix:before{content:'';display:table}
// .clearfix:after{clear:both;display:block}
// a{color:inherit;text-decoration:none}

// .login-wrap{
// 	width:100%;
// 	margin:auto;
// 	max-width:525px;
// 	min-height:670px;
// 	position:relative;
// 	background:url(https://raw.githubusercontent.com/khadkamhn/day-01-login-form/master/img/bg.jpg) no-repeat center;
// 	box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
// }
// .login-html{
// 	width:100%;
// 	height:100%;
// 	position:absolute;
// 	padding:90px 70px 50px 70px;
// 	background:rgba(40,57,101,.9);
// }
// .login-html .sign-in-htm,
// .login-html .sign-up-htm{
// 	top:0;
// 	left:0;
// 	right:0;
// 	bottom:0;
// 	position:absolute;
// 	transform:rotateY(180deg);
// 	backface-visibility:hidden;
// 	transition:all .4s linear;
// }
// .login-html .sign-in,
// .login-html .sign-up,
// .login-form .group .check{
// 	display:none;
// }
// .login-html .tab,
// .login-form .group .label,
// .login-form .group .button{
// 	text-transform:uppercase;
// }
// .login-html .tab{
// 	font-size:22px;
// 	margin-right:15px;
// 	padding-bottom:5px;
// 	margin:0 15px 10px 0;
// 	display:inline-block;
// 	border-bottom:2px solid transparent;
// }
// .login-html .sign-in:checked + .tab,
// .login-html .sign-up:checked + .tab{
// 	color:#fff;
// 	border-color:#1161ee;
// }
// .login-form{
// 	min-height:345px;
// 	position:relative;
// 	perspective:1000px;
// 	transform-style:preserve-3d;
// }
// .login-form .group{
// 	margin-bottom:15px;
// }
// .login-form .group .label,
// .login-form .group .input,
// .login-form .group .button{
// 	width:100%;
// 	color:#fff;
// 	display:block;
// }
// .login-form .group .input,
// .login-form .group .button{
// 	border:none;
// 	padding:15px 20px;
// 	border-radius:25px;
// 	background:rgba(255,255,255,.1);
// }
// .login-form .group input[data-type="password"]{
// 	text-security:circle;
// 	-webkit-text-security:circle;
// }
// .login-form .group .label{
// 	color:#aaa;
// 	font-size:12px;
// }
// .login-form .group .button{
// 	background:#1161ee;
// }
// .login-form .group label .icon{
// 	width:15px;
// 	height:15px;
// 	border-radius:2px;
// 	position:relative;
// 	display:inline-block;
// 	background:rgba(255,255,255,.1);
// }
// .login-form .group label .icon:before,
// .login-form .group label .icon:after{
// 	content:'';
// 	width:10px;
// 	height:2px;
// 	background:#fff;
// 	position:absolute;
// 	transition:all .2s ease-in-out 0s;
// }
// .login-form .group label .icon:before{
// 	left:3px;
// 	width:5px;
// 	bottom:6px;
// 	transform:scale(0) rotate(0);
// }
// .login-form .group label .icon:after{
// 	top:6px;
// 	right:0;
// 	transform:scale(0) rotate(0);
// }
// .login-form .group .check:checked + label{
// 	color:#fff;
// }
// .login-form .group .check:checked + label .icon{
// 	background:#1161ee;
// }
// .login-form .group .check:checked + label .icon:before{
// 	transform:scale(1) rotate(45deg);
// }
// .login-form .group .check:checked + label .icon:after{
// 	transform:scale(1) rotate(-45deg);
// }
// .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
// 	transform:rotate(0);
// }
// .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
// 	transform:rotate(0);
// }

// .hr{
// 	height:2px;
// 	margin:60px 0 50px 0;
// 	background:rgba(255,255,255,.2);
// }
// .foot-lnk{
// 	text-align:center;
// }
